.featured-listings {
    margin: 0 0 30px;

    h2 {
        font-size: em(50);
        margin: 50px 0;
        color: #222;
        text-transform: uppercase;
        text-align: center;
    }
}

.listing-item {
    position: relative;
    margin: 0 0 20px;
    width: 100%;
    height: 250px;
    overflow: hidden;

    &.see-all {
        background-color: $brand-blue;
        text-align: center;

        a {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -30px;
            font-size: em(60);
            line-height: 1;
            color: #FFF;
        }
    }
}

.listing-item-img,
.listing-item-info {
    position: absolute;
    left: 0;
}

.listing-item-img {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.listing-item-info {
    bottom: 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    z-index: 101;

    h3 {
        font-size: em(18);
        color: #FFF;
    }
}

.my-mission {

    .col {
        position: relative;
    }

    .col + .col {
        background-color: #FFF;
    }
}

.mission-img {
    width: 100%;
    height: 100%;
    @include bgi("mission.jpg");
    background-position: center center;
    background-size: cover;
}

.mission-content {
    padding: 30px 0 30px 30px;
    max-width: 500px;

    h3,
    p {
    }

    h3 {
        margin: 0 0 30px;
        font-size: em(60);
        text-transform: uppercase;
        color: orange;
    }
}

.know-more {
    margin-bottom: 50px;

    h3 {
        font-size: em(50);
        margin: 50px 0;
        color: #222;
        text-transform: uppercase;
        text-align: center;
    }
}

.know-more-item {
    border: 1px solid $brand-yellow;
    border-bottom-width: 10px;
    padding: 50px;
    width: 100%;

    @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
    }

    h4 {
        position: relative;
        font-size: em(50);
        color: #222;

        @include media-breakpoint-down(lg) {
            font-size: em(35);
        }

        @include media-breakpoint-down(md) {
            font-size: em(25);
        }

        span {
            display: block;
            text-transform: uppercase;
            font-weight: 700;
        }

        &:after {
            content: ' ';
            position: absolute;
            bottom: -30px;
            left: 50%;
            width: 100px;
            height: 10px;
            margin-left: -50px;
            background-color: $brand-yellow;
        }
    }
}

.testimonials {

    .headline {
        padding: 25px 0;
        text-align: center;
        background-color: $brand-blue;

        h3 {
            margin: 0;
            font-size: em(50);
            color: #FFF;
            text-transform: uppercase;
        }
    }

    .col {
        position: relative;
        background: #FFF;

        + .col {
            background: none;
        }
    }
}

.testimonials-slider {
    display: block;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.testimonials-item {

    h3 {
        margin: 0 0 20px;
        font-size: em(50);
        color: #d99221;
    }

    p {
        font-size: em(18);
        font-style: italic;
    }
}

.testimonials-author-img {
    margin: 0 0 20px;

    img {
        border-radius: 150px;
        border: 15px solid #d99221;
    }
}

.testimonials-img {
    width: 100%;
    height: 100%;
    @include bgi("testimonials.jpg");
    background-position: center center;
    background-size: cover;

    img {
        border-radius: 150px;
        border: 15px solid $brand-yellow;
    }
}

.latest-news {
    margin-bottom: 50px;

    .container > h3 {
        margin: 50px 0;
        font-size: em(50);
        text-align: center;
        text-transform: uppercase;
    }
}

.post-list-item {

    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
    }
}

.post-list-img {
    margin-bottom: 20px;

    img {
        @extend .img-fluid;
        width: 100%;
    }
}

.post-list-body {

    h3 {
        font-size: em(20);
        font-weight: 700;

        a {
            color: $brand-blue;
        }
    }

    p {
        font-size: em(18);

        @include media-breakpoint-down(md) {
            font-size: em(14);
        }

        a {
            color: $brand-blue;
        }
    }

    .btn-readmore {
        display: inline-block;
        padding: 5px;
        border: 1px solid $brand-blue;
        border-radius: 8px;
    }
}