#main-content {

    @include media-breakpoint-down(sm) {
        padding: 30px 0;
    }

    @include media-breakpoint-up(md) {
        padding: 60px 0;
    }
}

.page-title {
    margin-bottom: 30px;
    text-align: center;

    h1,h2 {
        margin: 0;
        font-size: em(52);
        text-transform: uppercase;
    }
}